<h1>Camping car details</h1>

<h2><%= @camping_car.car_model %></h2>
<p><%= @camping_car.category %></p>
<p><%= @camping_car.sleep_capacity %></p>
<p><%= @camping_car.capacity_grey_card %></p>
<p><%= @camping_car.price_per_day %></p>

<%= link_to "Modifier les informations", edit_camping_car_path(@camping_car) %>
<%= link_to "Supprimer camping-car", camping_car_path(@camping_car), method: :delete %>

<%= simple_form_for @booking do |f| %>
  <%= f.input :check_in %>
  <%= f.input :check_out %>
  <%= f.input :camping_car_id, as: :hidden, input_html: { value: @camping_car.id } %>
  <%= f.button :submit %>
<% end %>

<%= simple_form_for [@booking, @user_review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
