<div class="wrapper bg-light-grey text-center padded-show information">
  <div class="profile_picture">
    <%= image_tag "profile.jpg", class: 'avatar-very-large-bordered' %>
  </div>
  <h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
  <h4> <%= @user.email %> </h4>
  <h4> <%= @user.city %> </h4>
</div>

<div class="wrapper bg-light-grey">

<% if current_user != nil && current_user.id == params[:id].to_i %>

    <div class="tabs">
      <a class="tab active" href="#" data-target="#campingcarsibooked">
        <h3>Réservations effectuées</h3>
      </a>
      <a class="tab" href="#" data-target="#campingcarsirented">
        <h3>Réservations reçues</h3>
      </a>
      <a class="tab" href="#" data-target="#mycampingcars">
        <h3>Mes camping cars</h3>
      </a>
    </div>

    <div class="tab-content" id="campingcarsibooked">
      <div class="wrapper bg-light-grey">
        <div class="container">
          <h2 class="text-center">Avis reçus </h2>
          <% if @user.user_reviews == [] %>
            <h4 class='text-center'> Vous n'avez reçu aucun avis</h4>
          <% else %>
            <% @user.user_reviews.each do |review| %>
              <div class="row">
                <div class="col-xs-10">
                  <p><%= review.comment %></p>
                </div>
                <div class="col-xs-2">
                  <% review.rating.to_i.times do %>
                    <i class= 'fa fa-star reviewStars_starActive'></i>
                  <% end %>
                    <% (5 - review.rating.to_i).times do %>
                    <i class= 'fa fa-star reviewStars_starNotActive'></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="row text-center">
            <h2>Réservations </h2>
            <% if @user_bookings == [] %>
              <h4>Vous n'avez effectué aucune réservation</h4>
            <% else %>
              <% @user_bookings.each do |booking| %>
                <div class="col-lg-4 col-sm-12 card-container-small">
                  <div class="booking-detail">
                    <div class="">
                      <%= image_tag "campingcar.jpg", class: "camping-car-picture" %>
                    </div>
                    <div class="profile-picture">
                      <%= image_tag "profile.jpg", class: 'avatar-large-bordered' %>
                    </div>
                    <div class="booking-description">
                      <div class="booking-row">
                        <p>Modèle : <%= booking.camping_car.car_model %></p>
                      </div>
                      <div class="booking-row">
                        <p> Du <%= booking.check_in %> au <%= booking.check_out %> </p>
                      </div>
                      <div class="booking-row">
                        <p>Capacité de couchage : <%= booking.camping_car.sleep_capacity %> </p>
                      </div>
                      <div class="booking-row">
                        <p> <%= booking.camping_car.price_per_day %> € par jour</p>
                      </div>
                      <div class="booking-row">
                        <% if booking.check_out < Date.today %>
                          <% booking.booking_status = "Passée" %>
                        <% end %>
                        <p><strong><%= booking.booking_status %></strong></p>
                      </div>
                      <% if booking.check_out < Date.today %>
                        <div class="booking-row">
                        <% if CampingCarReview.find_by(booking_id: booking.id) == nil %>
                          <%= link_to "Noter cette camping car", new_booking_camping_car_review_path(booking), {class: 'btn btn-primary' } %>
                        <% else %>
                          <p>Avis déjà donné</p>
                        <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content hidden" id="campingcarsirented">
      <div class="wrapper bg-light-grey">
        <div class="container text-center">
          <div class="row">
            <% bookings = [] %>
            <% @user_camping_cars.each do |camping_car| %>
              <% camping_car.bookings.each do |camping_car_booking| %>
                <% bookings << camping_car_booking %>
              <% end %>
            <% end %>
              <% if bookings == [] %>
                <h4> Vous n'avez reçu aucune réservation </h4>
              <% else %>
                <% bookings.each do |booking| %>
                <div class="col-lg-4 col-sm-12 card-container">
                  <div class="booking-detail">
                    <div class="">
                      <%= image_tag "campingcar.jpg", class: "camping-car-picture" %>
                    </div>
                    <div class="profile-picture">
                      <%= link_to image_tag("profile.jpg", class: "avatar-large-bordered"), user_path(booking.user) %>
                    </div>
                    <div class="booking-description">
                      <div class="booking-row">
                        <p>Modèle : <%= booking.camping_car.car_model %></p>
                      </div>
                      <div class="booking-row">
                        <p> Du <%= booking.check_in %> au <%= booking.check_out %> </p>
                      </div>
                      <div class="booking-row">
                        <p>Capacité de couchage : <%= booking.camping_car.sleep_capacity %> </p>
                      </div>
                      <div class="booking-row">
                        <p> <%= booking.camping_car.price_per_day %> € par jour</p>
                      </div>
                      <div class="booking-row">
                        <% if booking.check_out < Date.today %>
                          <% booking.booking_status = "Passée" %>
                        <% end %>
                        <p id='booking-status-<%=booking.id%>'><strong><%= booking.booking_status %></strong></p>
                      </div>

                      <% if booking.booking_status == "En attente de confirmation" %>
                        <div class="booking-row submit-again-<%=booking.id%>">
                          <%= simple_form_for(booking, method: :patch, remote: true) do |f| %>
                            <%= f.input :booking_status, as: :hidden, input_html: { value: "Confirmée" } %>
                            <%= f.button :submit, "Valider cette réservation", class: 'btn btn-primary'  %>
                          <% end %>
                        </div>
                        <div class="booking-row submit-again-<%=booking.id%>">
                          <%= simple_form_for(booking, method: :patch, remote: true) do |f| %>
                            <%= f.input :booking_status, as: :hidden, input_html: { value: "Refusée" } %>
                            <%= f.button :submit, "Refuser cette réservation", class: 'btn btn-primary'  %>
                          <% end %>
                        </div>

                      <% end %>

                      <% if booking.check_out < Date.today %>
                        <div class="booking-row">
                          <% if UserReview.find_by(booking_id: booking.id) == nil %>
                            <%= link_to "Noter cet utilisateur", new_booking_user_review_path(booking), {class: 'btn btn-primary' } %>
                          <% else %>
                           <p>Avis déjà donné</p>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content hidden" id="mycampingcars">
      <div class="container small-padding">
      <div class="row">
        <% @user.camping_cars.each do |camping_car| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="card-image" style="background-image: url(<%=image_url("homepage/cc" + (1..15).to_a.sample.to_s + ".jpg") %>);">
                <img src="<%=image_url("homepage/u" + (1..15).to_a.sample.to_s + ".jpg") %>" class="avatar">
                <div class="card-price text-center">
                  <p><strong><%=camping_car.price_per_day%></strong><%='€/jour'%></p>
                  <p>de location</p>
                </div>
              </div>
              <div class="card-footer">
                <div class="category">
                  <p><%=camping_car.category%></p>
                </div>
                <div class="model">
                  <p><%=camping_car.car_model%></p>
                </div>
                <div class="card-description">
                  <div class="sleep">
                    <p><%=camping_car.sleep_capacity%> <i class="fa fa-bed" style="color:#7AAFB7"></i></p>
                  </div>
                  <div class="capacity">
                    <p><%=camping_car.capacity_grey_card%> <i class="fa fa-car" style="color:#7AAFB7" ></i></p>
                  </div>
                </div>
              </div>
              <%= link_to "", camping_car_path(camping_car), class: "card-link" %>
            </div>
          </div>
        <%end%>
      </div>
    </div>

<% else %>

    <div class="tabs">
      <a class="tab2 active" href="#" data-target="#avisrecus">
        <h3>Avis reçus par <%= @user.first_name %> </h3>
      </a>
      <a class="tab2" href="#" data-target="#campingcars">
        <h3>Camping cars de <%= @user.first_name %> </h3>
      </a>
    </div>

    <div class="tab-content" id="avisrecus">
      <div class="wrapper bg-light-grey">
        <div class="container">
          <% if @user.user_reviews != [] %>
            <h2 class="text-center">Avis reçus </h2>
            <% @user.user_reviews.each do |review| %>
              <div class="row">
                <div class="col-xs-10">
                  <p><%= review.comment %></p>
                </div>
                <div class="col-xs-2">
                  <% review.rating.to_i.times do %>
                    <i class= 'fa fa-star reviewStars_starActive'></i>
                  <% end %>
                    <% (5 - review.rating.to_i).times do %>
                    <i class= 'fa fa-star reviewStars_starNotActive'></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-content hidden" id="campingcars">
      <div class="wrapper bg-light-grey">
        <div class="container small-padding">
          <div class="row">
            <% @user.camping_cars.each do |camping_car| %>
              <div class="col-xs-12 col-sm-4">
                <div class="card">
                  <div class="card-image" style="background-image: url(<%=image_url("homepage/cc" + (1..15).to_a.sample.to_s + ".jpg") %>);">
                    <img src="<%=image_url("homepage/u" + (1..15).to_a.sample.to_s + ".jpg") %>" class="avatar">
                    <div class="card-price text-center">
                      <p><strong><%=camping_car.price_per_day%></strong><%='€/jour'%></p>
                      <p>de location</p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="category">
                      <p><%=camping_car.category%></p>
                    </div>
                    <div class="model">
                      <p><%=camping_car.car_model%></p>
                    </div>
                    <div class="card-description">
                      <div class="sleep">
                        <p><%=camping_car.sleep_capacity%> <i class="fa fa-bed" style="color:#7AAFB7"></i></p>
                      </div>
                      <div class="capacity">
                        <p><%=camping_car.capacity_grey_card%> <i class="fa fa-car" style="color:#7AAFB7" ></i></p>
                      </div>
                    </div>
                  </div>
                  <%= link_to "", camping_car_path(camping_car), class: "card-link" %>
                </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>

<% end %>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="app/assets/javascript/tabs.js"></script>
